:root {
    --link-color: #1C75B9;
    --link-white-color: #fff;
    --body-bg-color: rgb(243,243,243);
    --body-color: #000;
    --footer-color: rgba(0,0,0,0.05);
    --delete-color: #f44;
}

[data-theme="dark"] {
    --link-color: #0A86da;
    --link-white-color:#c1bfbd;
    --body-bg-color: #333;
    --body-color: #c1bfbd;
    --footer-color: rgba(256,256,256,0.05);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-color);
    margin-bottom: 60px;
}

a {
    color: var(--link-color);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: var(--footer-color);
}

button.delete {
    background-color: var(--delete-color);
}
