:root {
    --link-color: #1C75B9;
    --body-bg-color: #bdc1c6;
    --body-color: #000;
    --footer-color: rgba(0,0,0,0.05);
    --delete-color: #f44;
}

[data-theme="dark"] {
    --body-bg-color: #121212;
    --body-color: #bdc1c6;
    --footer-color: rgba(256,256,256,0.05);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-color);
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: var(--footer-color);
}

button.delete {
    display: none;
    background-color: var(--delete-color);
}
